header {
  padding: 10px;
  text-align: center;
  height: 80px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: url('../../../../../assets/images/money.svg') no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin: auto;
}
