.container {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  align-items: stretch;

  &--header, &--footer {
    z-index: 1;
  }

  &--main {
    flex: 2;
    background: #dadfe3;
  }
}

