<div class="container">
  <section class="container--header">
    <app-header></app-header>
  </section>
  <main class="container--main">
    <app-currency-container></app-currency-container>
  </main>
  <section class="container--footer">
    <app-footer></app-footer>
  </section>
</div>
