<section class="currency-container">
  <div class="currency-group">
    <div class="currency-controls">
      <app-currency-input currencyType="USD" ></app-currency-input>
      <app-currency-input currencyType="EUR" isReadOnly="true"></app-currency-input>
    </div>
    <div class="currency-actions">
      <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="calculate()">CALCULATE</button>
      <div *ngIf="isLoading" class="currency-loader">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</section>
