.currency-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 30px);
}

.currency-loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-group {
  max-width: 500px;
  margin: auto;
  flex-direction: column;
  text-align: center;
  padding: 15px;

  @media screen and (min-width: 600px) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: white;
  }
}

.currency-controls {

}
