/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Generic reset */
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
