footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 80px;
  padding: 10px;
  font-family: "Roboto Mono Light for Powerline";
  font-weight: lighter;
  font-size: 12px;

  background: #4fba6f;
  color: whitesmoke;

  span {
    text-decoration: none;
    border-bottom: 1px dashed yellowgreen;
    color: #eee;
    margin: 0 5px;
    cursor: pointer;
  }
}
